<section class="content">
  <div class="container-block">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 flex flex-wrap items-center justify-between gap-2">
          <ul class="breadcrumb breadcrumb-style mb-0">
            <li class="breadcrumb-item">
              <h4 class="page-title mb-0">Evaluación práctica</h4>
            </li>
          </ul>
          <a mat-stroked-button routerLink="/teacher/permiso-trabajo" style="white-space: nowrap;">
            <mat-icon style="font-size: 20px; height: 20px; width: 20px; margin-right: 4px; vertical-align: middle;">arrow_back</mat-icon>
            Permisos de trabajo
          </a>
        </div>
      </div>
    </div>
      <div class="row ">
          <div class="col-12">
            <mat-stepper #stepper>
              <mat-step >
                  <ng-template matStepLabel>Grupo</ng-template>

                  <div>
                    <teacher-grupos
                        [idprofesor]="idprofesor"
                        (grupoSelected)="onGrupoSelected()"></teacher-grupos>
                  </div>

              </mat-step>
              <mat-step>
                  <ng-template matStepLabel>Aprendiz</ng-template>
                  <div>
                    <teacher-aprendices-grupo
                        (aprendizSelected)="onAprendizSelected()"></teacher-aprendices-grupo>
                  </div>

              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Evaluar</ng-template>
                <teacher-evaluacion-aprendiz></teacher-evaluacion-aprendiz>
              </mat-step>

            </mat-stepper>
          </div>
      </div>
  </div>
</section>
