<section class="content">
  <div class="container-fluid">
    <app-pagetitle [title]="'Pagos pendientes'"></app-pagetitle>

    <div class="card">
      <div class="body">

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Nit</th>
              <th>Fecha inscripcion</th>
              <th>Nro de aprendices</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of pagopendienteempresaService.data; let i = index">
              <tr (click)="toggleDetail(i)">
                <td class="pr-0">
                  <button mat-mini-fab color="primary"
                      (click)="registerPayment(row)"
                      matTooltip="Registrar pago"
                      class="btn-tbl-edit">
                    <mat-icon class="col-white">flight_takeoff</mat-icon>
                  </button>
                </td>
                <td>{{ row.empresa }}</td>
                <td>{{ row.nit }}</td>
                <td>{{ row.fechainscripcion }}</td>
                <td>{{ row.aprendizs.length }}</td>

              </tr>
              <tr *ngIf="preguntaDetalle === i">
                <td colspan="5">
                  <table>
                      <tr *ngFor="let aprendiz of row.aprendizs">
                        <td>
                          <button mat-icon-button color="accent" class="btn-tbl-edit"
                              (click)="registerPaymentAprendiz(aprendiz)"
                              matTooltip="Registrar pago">
                            <mat-icon class="col-white">flight_takeoff</mat-icon>
                          </button>
                        </td>
                        <td>
                          {{aprendiz.trabajador.nombrecompleto}}
                        </td>
                      </tr>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>
