.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.box {
  img {
    width: 50%; // Asegura que la imagen ocupe todo el ancho del contenedor
    height: auto; // Mantiene la proporción de aspecto de la imagen
  }

  @media (max-width: 576px) {
    img {
      max-width: 20%; // Reduzca el tamaño de la imagen en dispositivos pequeños
    }
  }
}
