<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <!-- Header -->
              <div class="table-header">
                <div class="flex w-full">
                  <div class="w-2/3">
                    <ul class="flex items-center gap-5">
                      <li>
                        <h2 class="table-header-title">
                          <strong>Instructores</strong>
                        </h2>
                      </li>
                      <li class="search-input-wrapper">
                        <i class="material-icons search-icon">search</i>
                        <input placeholder="Buscar" type="text" #filter
                          class="search-input"
                          aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                  <div class="table-header-actions">
                    <button class="btn-add" (click)="addNew()">
                      <span class="material-icons">add</span>
                    </button>
                    <button class="btn-refresh" (click)="refresh()">
                      <span class="material-icons">refresh</span>
                    </button>
                  </div>
                </div>
              </div>

              <!-- Tabla -->
              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="numerodocumento">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Número de documento
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    {{row.numerodocumento}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombrecompleto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.nombrecompleto}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="entrenador">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Entrenador
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.entrenador}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="supervisor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Supervisor
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.supervisor}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="numerocelular">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Número de celular
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.numerocelular}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Email
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.email}}
                  </mat-cell>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>Acciones</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0 table-actions">
                    <button class="btn-icon btn-icon-edit mr-2" (click)="$event.stopPropagation(); editCall(row)">
                      <span class="material-icons text-base">edit</span>
                    </button>
                    <button class="btn-icon btn-icon-delete" (click)="$event.stopPropagation(); deleteItem(row)">
                      <span class="material-icons text-base">delete</span>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </mat-table>

              <!-- Sin resultados -->
              <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
              </div>

              <!-- Paginador -->
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="20"
                [pageSizeOptions]="[5, 10, 20, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>