@use "variables";

//
// contact.scss
//

textarea.form-control {
  height: auto !important;
}

.error {
  margin: 8px 0px;
  display: none;
  color: variables.$danger;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: variables.$danger;
  border: 2px solid variables.$danger;
}

#success_page {
  text-align: center;
  margin-bottom: 50px;
}

.custom-form {
  .form-control {
      height: 44px;
      font-size: 15px;
      padding-left: 15px;
      border-color: #e6eef6;
      color: variables.$muted;
  }
  .form-control:focus {
    border-color: variables.$light;
      outline: 0;
      box-shadow: none;
  }
  .contact-lable{
    left: 27px;
    top: 7px;
    line-height: 20px;
    font-weight: 500;
    color: variables.$light;
    background: #fbfdfe;
    margin: 0px;
    padding: 0px 7px;
    z-index: 1;
  }
}