@use "variables";

//
// Footer.scss
//


.bg-footer{
  position: relative;
  border-radius: 250px 0 0 0;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
  background-image: url(../../assets/images/footer-img.webp);

  .contact-img {
    position: absolute;
    margin-top: -280px;
  }
}

@media (max-width: 991px) {
  .bg-footer {
    background-image: none;
  }
}

.footer-link{
  a {
      color: variables.$white;
      line-height: 38px;
      font-size: 15px;
      transition: all 0.5s;
      &:hover {
          color: variables.$primary;
        }
    }
}

.brillo:hover {
  cursor: pointer;
  color: yellow;
}



.subscribe {
  input {
    padding: 12px 20px;
    width: 100%;
    font-size: 15px;
    color: variables.$muted;
    border: none;
    outline: none !important;
    padding-right: 75px;
    padding-left: 15px;
    background-color: rgba(variables.$primary, 0.1);
    border-radius: 5px;
  }
  button {
    position: absolute;
    top: 0px;
    right: 0px;
    outline: none !important;
    border-radius: 0px 5px 5px 0px;
    padding: 2px 12px;
    font-size: 25px;
  }
  form {
    position: relative;
    max-width: 400px;
  }
  ::placeholder { 
    color: variables.$muted
  }
}

.footer-img-vertical {
  margin-left: 130%;
}


