# ─────────────────────────────────────────────
#  .gitignore — Back-End Spring Boot / Maven
# ─────────────────────────────────────────────

# ══ DOCKER — datos de BD (nunca commitear volúmenes de MySQL) ══
docker/db/data/

# ══ BUILD / MAVEN ═════════════════════════════
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ══ ARCHIVOS SENSIBLES — NUNCA subir ══════════
.env
.env.*
!.env.example
# NOTA: application-prod.yml SÍ se commitea (usa ${ENV_VAR})
# NOTA: application.yml SÍ se commitea

# ══ LOGS ══════════════════════════════════════
*.log
*.log.*
logs/

# ══ IDEs — Spring Tool Suite ══════════════════
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ══ IDEs — IntelliJ IDEA ══════════════════════
.idea/
*.iws
*.iml
*.ipr

# ══ IDEs — NetBeans ═══════════════════════════
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ══ IDEs — VS Code ════════════════════════════
.vscode/

# ══ SISTEMA OPERATIVO ══════════════════════════
.DS_Store
Thumbs.db
