<section class="content mt-1 ml-64 mr-2 min-h-[calc(100vh-76px)] transition-all duration-500">
  <div class="pt-1 pl-6">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card shadow-lg rounded-lg">
            <div class="header bg-gray-100 p-2 border-b border-gray-300 flex flex-wrap items-center justify-between gap-2">
              <h2 class="text-lg font-bold mb-0">
                <strong>Permisos de Trabajo</strong>
              </h2>
              <button type="button" mat-raised-button color="primary" routerLink="/teacher/evaluar">
                <mat-icon style="font-size: 20px; height: 20px; width: 20px; margin-right: 4px; vertical-align: middle;">add</mat-icon>
                Nuevo
              </button>
            </div>
          <div class="body p-6">
            <!-- Componente de filtros -->
            <app-permiso-trabajo-filtros (filtroAplicado)="aplicarFiltro($event)"></app-permiso-trabajo-filtros>

            <!-- Componente de tabla con datos y estado de carga -->
            <app-permiso-trabajo-tabla
              [dataSource]="dataSource()"
              [cargando]="permisoService.cargando()"
              (verDetalleEvent)="verDetalle($event)"
              (editarPermisoEvent)="editarPermiso($event.id)"
              (eliminarPermisoEvent)="eliminarPermiso($event)">
            </app-permiso-trabajo-tabla>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
