.footer-responsive {
    position: relative;
  }


  .footer-section {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .footer-title {
    color: #ffc107;
  }

  .footer-info a {
    transition: color 0.2s ease;
  }

  .footer-info a:hover {
    color: #fec902 !important;
  }

  @media (max-width: 768px) {
    .footer-info-container,
    .footer-section {
      margin-bottom: 20px;
      text-align: center;
    }

    .footer-info img {
      margin: 0 auto;
      display: block;
    }
  }
