<header class="bg-gray-800 text-white p-6">
  <div id="top" class="flex items-center justify-between">
    <!-- Sección izquierda: Logo y texto -->
    <a href="https://seguridadallimite.com/" class="flex items-center">
      <img src="assets/images/logo_sticky.jpeg" alt="Logo Seguridad al Límite" class="w-24 h-24 mr-4" />
      <div>
        <h2 class="text-2xl font-bold">Seguridad al Límitex</h2>
        <h3 class="text-lg text-blue-400">Inscríbete a nuestros cursos</h3>
      </div>
    </a>

    <!-- Sección derecha: Redes sociales -->
    <div class="flex items-center space-x-4">
      <a href="https://facebook.com" target="_blank" class="text-gray-400 hover:text-blue-500">
        <i class="fab fa-facebook-f text-2xl"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="text-gray-400 hover:text-pink-500">
        <i class="fab fa-instagram text-2xl"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="text-gray-400 hover:text-blue-400">
        <i class="fab fa-twitter text-2xl"></i>
      </a>
    </div>

  </div>
</header>
