
.tabla-grupos {
  margin-top: 20px;
}

.tabla-grupos .table {
  width: 100%;
  border: 1px solid #ddd;
}

.tabla-grupos th, .tabla-grupos td {
  text-align: left;
  padding: 8px;
}

.tabla-grupos th {
  background-color: #f2f2f2;
}
