<section class="container-section">
  <quiz-info [opciones] = "opciones"></quiz-info>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <mat-card class="card">

          <quiz-search-aprendiz [opciones] = "opciones"></quiz-search-aprendiz>

          <quiz-show-aprendiz *ngIf="!isEmpty(aprendiz)" [aprendiz]="aprendiz" [opciones] = "opciones" />

          <quiz-buton-iniciar-evaluacion [opciones] = "opciones" *ngIf="!isEmpty(aprendiz) && puedePresentarEvaluacion"></quiz-buton-iniciar-evaluacion>

          <app-boton-salir *ngIf="!isEmpty(aprendiz) && !puedePresentarEvaluacion"></app-boton-salir>

        </mat-card>
      </div>
    </div>
  </div>
</section>
