<div class="card">
  <div class="header d-flex justify-content-between align-items-center p-3">
    <h2>Listado de Aprendices</h2>
    <button
      mat-raised-button
      color="primary"
      (click)="exportToExcel()"
      matTooltip="Exportar a Excel"
      class="export-btn">
      <mat-icon>file_download</mat-icon>
      Exportar a Excel
    </button>
  </div>

  <div class="body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Tipo Doc.</th>
            <th>Documento</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Género</th>
            <th>País Nac.</th>
            <th>Fecha Nac.</th>
            <th>Nivel Educativo</th>
            <th>Área Trabajo</th>
            <th>Cargo</th>
            <th>Sector</th>
            <th>Empleador</th>
            <th>ARL</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (aprendiz of data; track aprendiz.idaprendiz) {
            <tr>
              <td>
                <button mat-mini-fab color="primary" (click)="irTrabajador(aprendiz.idaprendiz)">
                  <mat-icon aria-label="Edit" class="col-white">edit
                  </mat-icon>
                </button>
              </td>
              <td>{{ aprendiz.tipoDocumento }}</td>
              <td>{{ aprendiz.documento }}</td>
              <td>
                {{ aprendiz.primerNombre }}
                {{ aprendiz.segundoNombre }}
              </td>
              <td>
                {{ aprendiz.primerApellido }}
                {{ aprendiz.segundoApellido }}
              </td>
              <td>{{ aprendiz.genero }}</td>
              <td>{{ aprendiz.paisNacimiento }}</td>
              <td>{{ aprendiz.fechaNacimiento }}</td>
              <td>{{ aprendiz.nivelEducativo }}</td>
              <td>{{ aprendiz.areaTrabajo }}</td>
              <td>{{ aprendiz.cargoActual }}</td>
              <td>{{ aprendiz.sector }}</td>
              <td>{{ aprendiz.empleador }}</td>
              <td>{{ aprendiz.arl }}</td>
              <td>
                <button
                  mat-mini-fab
                  color="primary"
                  class="btn-detail"
                  matTooltip="Ver detalle"
                  (click)="verDetalle(aprendiz.idaprendiz)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
